<h1>New Image</h1>

<%= form_with scope: Image, url: users_path do |f| %>
    <%= f.label :caption %>
    <%= f.text_field :caption %>
    <%= f.collection_check_boxes :tag_ids, @tags, :id, :name %>

    <%= f.submit "Upload Image" %>
<% end %>