<h4>New Image</h4>

<%= form_with url: user_image_index_path do |f| %>
<%= f.fields_for :image do |i| %>
    <%= i.label :caption %>
    <%= i.text_field :caption %>
    <%= i.collection_check_boxes :tag_ids, @tags, :id, :name %>

<% end %>
    <%= f.submit "Upload Image" %>
<% end %>