<%# <h1>New Image</h1>

<%= form_with url: image_index_path do |f| %>
<%= f.fields_for :image do |i| %>
    <%= i.label :title %>
    <%= i.text_field :title %>
    <%= i.collection_check_boxes :tag_ids, @tags, :id, :name %>

<% end %>
    <%= f.submit "Upload Image" %>
<% end %> %>